.calc-input{
    padding: 30px;
    background-color: rgb(8, 21, 42);
    border: none;
    border-radius: 10px;
    caret-color: transparent;
    font-size: 35px;
    width: 100%;
    color:white;
    margin: 20px 0;
    outline: transparent;
    box-sizing: border-box;
    font-weight: 800;
}

.calc-input__dir-right{
    direction: rtl;
}

.calc-input__dir-left{
    direction: ltr;
    text-align: right;
}
