.calc-wrapper{
    height: 100%;
    padding: 50px 100px;
    width: 800px;
    margin: auto;
}

.calc-wrapper__dark{
    background-color: rgb(32, 45, 69);
}

.calc-wrapper__light{
    background-color: rgb(203 203 203);
}

