.calc-button{
    width: 100%;
    background-color: rgb(218, 218, 218);
    color:black;
    box-shadow: 2px 7px 15px 5px rgba(0,0,0,0.65);
    font-size: 30px;
    text-align: center;
    padding: 25px;
    margin: 12px;
    border-radius: 10px;
    font-weight: 600;
}

.calc-button__dark{
    background-color: rgb(73, 73, 119);
    color:white;
}

.calc-button__red{
    background-color: rgb(211, 70, 18);
    color:white;
}