.theme__wrapper{
    position: relative;

}

.theme{
    border-radius: 15px;
    background-color:rgb(8, 21, 42);
    width: 60px;
    padding: 5px;
    display: flex;
    
}

.theme__cycle{
    display: inline-block;
    background-color: tomato;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.theme__numbers{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    transform: translate(0,-25px);
}

.theme__dir{
    flex-direction: row-reverse;
    background-color:#9b9b9bab;
}